<h2>검색어: <%= query %></h2>

<p>찾는 문서가 없다면 바로 <a href="/document/<%= query %>"><%= query %></a>문서로 갈 수 있습니다.</p>

<% documents.forEach((document) => { %>
    <article>
        <h3><a href="/document/<%= document.title %>"><%= document.title %></a></h3>
        <div><%= document.body.slice(0, 90) %></div>
    </article>
<% }); %>

